.price-fieldset {
  padding: 19px 0 31px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @media ($viewport-tablet) {
    padding: 19px 0 31px;
    width: 223px;
  }

  @media ($viewport-desktop) {
    width: 318px;
  }
}

.price-fieldset legend {
  padding: 20px 0 0;

  @media ($viewport-tablet) {
    padding: 0;
  }
}


.price-fieldset__input-wrapper {
  max-width: 320px;
  display: flex;
  column-gap: 18px;
  align-items: center;

  @media ($viewport-tablet) {
    column-gap: 20px;
  }
}

.price-fieldset__divider {
  display: block;
  width: 8px;
  height: 2px;
  background-color: $base-grey;

  @media ($viewport-desktop) {
    width: 10px;
  }
}

.price-fieldset__nouislider {
  padding: 0;
  display: block;
  height: 24px;
  box-sizing: border-box;

  @media ($viewport-tablet) {
    padding: 0 10px 0 0;
    height: 20px;
  }

  @media ($viewport-desktop) {
    padding: 0;
    height: 22;
  }
}

.price-fieldset__input {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 10px 8px;

  max-width: 118px;
  height: 40px;

  font-family: "Montserrat", "Arial", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  color: $base-black;

  border: 2px solid $primary-lighter;
  border-radius: 4px;

  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  @media ($viewport-tablet) {
    max-width: 88px;
  }

  @media ($viewport-desktop) {
    max-width: 134px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $base-grey;
  }

  &:hover,
  &:focus-visible {
    border: 2px solid $base-primary;
  }

  &:focus {
    outline: none;
    border: 2px solid $primary-darker;
  }

  &:disabled {
    color: $light-grey;
    border: 2px solid $light-grey;
    pointer-events: none;
    background-color: $lightest-grey;
  }
}
