.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-left: 20px;

  box-sizing: border-box;

  @include width ($mobile,
  $tablet,
  $desktop);
}

.header__logo-link {
  margin-right: auto;

  &:hover {
    outline: none;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}
