.hero {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: $flat-white;

  @media ($viewport-tablet) {
    width: 768px;
    background-color: unset;
    background-image: linear-gradient(to bottom, $flat-white 0 77.29%, $base-white 77.29% 100%);

    padding: 0 80px;
  }

  @media ($viewport-desktop) {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: $flat-white;
    background-image: unset;
  }
}

.hero__cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
