.main__features,
.main__catalog {
  @include width($mobile,$tablet,$desktop);
}

.main__catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__map {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
