.catalog {
  padding: 50px 20px 44px;
  box-sizing: border-box;

  background-color: $lightest-grey;

  @media ($viewport-tablet) {
    padding: 80px 20px 90px;
  }

  @media ($viewport-desktop) {
    padding: 100px 40px 120px;
  }
}


.catalog__cards-list {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;

  @media ($viewport-tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media ($viewport-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }

  margin: 0;
  padding: 0;

  list-style: none;
}
