.copyrights-wrapper {
  padding: 20px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  font-size: 12px;
  line-height: 133%;
  color: $base-grey;
}

.copyrights__link {
  text-decoration: none;
  display: flex;
  align-items: center;

  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
