.pagination__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 20px;
}

.pagination__item {
  &:first-child .pagination__link,
  &:last-child .pagination__link {

    background-position: center center;
    background-size: 6px 10px;
    background-repeat: no-repeat;
    background-image: url("../../icons/arrow.svg");

    @media ($viewport-tablet) {
      background-image: none;
    }
  }

  &:last-child .pagination__link {
    transform: rotate(180deg);

    @media ($viewport-tablet) {
      transform: rotate(0deg);
    }
  }

  & .pagination__link--current {
    background-color: transparent;
    color: $base-black;
  }
}

.pagination__link {
  background-color: #ffffff;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 40px;
  aspect-ratio: 1;
  box-sizing: border-box;


  border-radius: 4px;

  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-decoration: none;

  color: $base-primary;


  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
  }
}


.pagination__link-text {
  display: none;

  @media ($viewport-tablet) {
    display: inline-block;
  }
}
