.footer-navigation__list {
  margin: 0;
  list-style: none;
  padding: 0;
  // padding: 20px 0;

  @media ($viewport-tablet) {
    display: flex;
    column-gap: 67px;
    // grid-template-columns: repeat(2, 1fr);
  }

  @media ($viewport-desktop) {
    column-gap: 185px;
  }
}

.footer-navigation__item {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 21px 20px 20px;
  border-bottom: 1px solid $base-secondary;

  @media ($viewport-tablet) {
    border: none;
    padding: 10px 20px 20px;
  }

  @media ($viewport-desktop) {
    padding: 10px 8px 20px;
  }
}

.footer-navigation__link-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation__link {
  padding: 8px 0;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: $base-black;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    outline: none;
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}
