.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $base-white;
  padding: 40px 20px 20px;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  }

  @media ($viewport-tablet) {
    min-width: 349px;
    padding: 50px 30px 30px;
  }

  @media ($viewport-desktop) {
    min-width: unset;
  }
}

.card__link {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  text-decoration: none;
  color: $base-black;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 0.9;
  }

  &:active {
    opacity: 0.5;
  }
}

.card__image {
  align-self: center;
}

.card__title {
  margin: 0;
  padding: 24px 0 2px;

  font-weight: 700;
  font-size: 18px;
  line-height: 178%;


  @media ($viewport-tablet) {
    padding: 31px 0 8px;

    font-size: 24px;
    line-height: 150%;
  }
}

.card__description {
  margin: 0;
  padding: 2px 2px 16px 0;

  @media ($viewport-tablet) {
    padding: 2px 2px 18px 0;
  }
}

.card__price-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
}

.card__button {
  padding: 8px 20px 8px 46px;
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-image: url("../../icons/union-plus.svg");
}
