.catalog {
  padding: 50px 20px 44px;
  box-sizing: border-box;

  background-color: $lightest-grey;

  @media ($viewport-tablet) {
    padding: 80px 20px 90px;
  }

  @media ($viewport-desktop) {
    padding: 100px 40px 120px;
  }
}

.catalog__form-cards-wrapper {
  @media ($viewport-desktop) {
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 30px;
  }
}

.catalog__cards-list {
  box-sizing: border-box;
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 20px 0 40px;
  list-style: none;

  @media ($viewport-tablet) {
    padding: 30px 0 70px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media ($viewport-desktop) {
    padding: 30px 0 60px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}

// .catalog__select {
//   appearance: none;
//   box-sizing: border-box;
//   display: flex;
//   // justify-content: center;
//   align-items: center;
//   min-width: 162px;
//   padding: 4px 27px 4px 10px;

//   font-family: "Montserrat", "Arial", serif;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 150%;
//   text-align: right;
//   color: $base-primary;

//   border: none;
//   background-color: transparent;
//   outline: none;

//   cursor: pointer;

//   &:hover {
//     background-color: $base-secondary;
//   }
// }


// .catalog__sort-wrapper {
//   width: 280px;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   flex-wrap: nowrap;
//   column-gap: 8px;
//   align-self: end;
// }

// .catalog__sort-wrapper::after {
//   content: "";
//   position: absolute;
//   top: 45%;
//   right: 7px;
//   display: block;
//   // border: 1px solid black;
//   width: 6px;
//   height: 10px;
//   // background-color: blue;
//   background-image: url("../../icons/arrow-bold.svg");
//   background-repeat: no-repeat;
//   // background-size: 6px 16px;
//   transform: rotate(-90deg) translateX(50%);
// }
